* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Lexend", sans-serif;
}

header {

    background-image: url(./assets/imagem-header1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 16px 92px;


    & .navbar {
        margin-bottom: 114px;
        display: flex;
        justify-content: space-between;
        padding: 28px 28px;
    }

    & .home .navbar ul {
        display: flex;
        gap: 50px;
    }

    & .navbar ul li {
        color: #fff;
    }

    & .home .title h1:first-child {
        color: #FFFFFF;
        font-size: 48px;
        font-weight: 600;
        line-height: 71.04px;
        text-align: left;

    }

    & .content {
        margin-bottom: 244px;
    }

    .home .navbar ul img {
        width: Fixed 280px;
        height:83px;
        padding: 16px 92px 16px 92px;
    }
    .home .navbar ul {
        display: flex;
        gap: 100px;
        padding: 30px 30px;
    }

    .btn {
        display: flex;
        gap: 16px;
        width: 196px;
        left: 451px;
    }
}